<span ng-if="vm.message" style="color:blue">{{ vm.message }}<br/><br/></span>
<div class="well well-sm">
	    <b>Tapahtumatyypit</b>
	    <form name="eventForm" class="eventForm" ng-repeat="type in vm.EVENTTYPES">
		  <label title="{{ type.tooltip }}" style="color: {{ type.color }};">
		    <input type="checkbox" ng-model="type.check" ng-change="vm.change()">
		    <span>{{ type.label }}</span>
		    </label><br/>
		 </form>

		Näytä kartalla korkeintaan 
		<select ng-model="vm.searchlimit" 
				ng-options="item.value for item in vm.LIMITOPTIONS"
				ng-change="vm.change()">
     	</select> tulosta.
     
</div>
<div ng-include="'views/mapfacets.partial.html'"></div>
