<div uib-alert ng-if="vm.error">
  {{ vm.error }}
</div>
<h1>Tutki elämä&shy;ker&shy;toja kar&shy;toilla</h1>
<p>
Kartalla yhdistetään henki&shy;löiden <span style="color:blue">synnyin-</span> ja <span style="color:red">kuolin</span>paikat nuolilla. 
Jos paikka on sama, esite&shy;tään se ympy&shy;ränä. 
Ala&shy;puolei&shy;silla suodat&shy;ti&shy;milla voidaan rajata haluttu henkilö&shy;ryhmä.
</p>
<p>
Klikkaamalla nuolia ja ympyröitä kar&shy;tal&shy;la aukeaa ikkuna, jossa näy&shy;te&shy;tään lista henkilöistä, joilla on paik&shy;kaan liittyviä tapahtumia.
</p>