<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
	    <ul class="nav nav-tabs">
	      <li ui-sref="network.net" ui-sref-active="active">
	        <a href=""><span class="glyphicon glyphicon-link" aria-hidden="true"></span> Verkostot</a>
	      </li>
	      <li ui-sref="network.pointcloud" ui-sref-active="active">
	        <a href=""><span class="glyphicon glyphicon-cloud" aria-hidden="true"></span> Pistepilvi</a>
	      </li>
	    </ul>
	  </div>
  </div>
  <div class="row">
  	<br />
    <div ui-view></div>
  </div>
</div>
