<h1>Tutki tilastoja</h1>
<p>
Aineistosta laskettuja tilastoja. 
<br/>Rajaa aineistoa tekemällä valintoja alla olevista suodat&shy;ti&shy;mista. 
<br/>Oikealla olevista valit&shy;si&shy;mista voi valita tarkas&shy;tel&shy;tavan ominai&shy;suuden ja suku&shy;lai&shy;suus&shy;suhteen.
</p>
  
  	<p>
  	Sivulla voidaan tarkastella ammatin, synnyin- tai kuolin&shy;paikan periy&shy;ty&shy;mistä suku&shy;laisten tai biografi&shy;oissa viitat&shy;tujen henki&shy;löiden välillä.
  	Linki&shy;tys on luotu biogra&shy;fia&shy;kuvaus&shy;ten viit&shy;tausten ja mainit&shy;tujen suku&shy;laisuus&shy;suhteiden perus&shy;teella. 
  	</p>
  	<div>
  		<p style="color:{{vm.messagecolor}};">{{ vm.message }}</p>
  		<br/>
  		<p>
			Näytä korkeintaan 
			<select ng-model="vm.limit" 
					ng-options="item.label for item in vm.LIMITOPTIONS"
					ng-change="vm.changelimit()">
	     	</select> tulosta.
	     </p>
	    
</div>


