.nlp_content {
  	margin-top: 50px;
  	margin-bottom: 25px;
}

.nlp_content p {
  	font-size: 18px;
	margin-bottom: 25px;
	margin-left: auto;
	margin-right: auto;
	max-width: 750px;
}

.nlp_content p:first-of-type {
	margin-bottom: 40px;
  	font-size: 20px;
	font-weight: bold;
}

.nlp .personlink a {
	color: blue;
}

.nlp .placelink a {
	color: green;
}

.nlp .organizationlink a {
    color: grey;
}

.nlp .ExpressionTime {
    color: pink;
}
.nlp .AnonymEntity {
    color: yellowgreen;
}

.nlp .titlelink {
    color: #880;
}
.nlp .vocationlink {
    color: #880;
}
.nlp .PoliticalLocation {
    color: lavender;
}
.nlp .GeographicalLocation {
    color: gold;
}
.nlp .EducationalOrganization {
    color: powderblue;
}


.nlp .personlink {
	border: 2px;
	border-style: none;
	border-color: burlywood;
}
.nlp .placelink {
    border: 2px;
	border-style: none;
	border-color: aquamarine;
}


.nlp .ExpressionTime {
    border: 2px;
	border-style: none;
	border-color: pink;
}
.nlp .AnonymEntity {
    border: 2px;
	border-style: none;
	border-color: yellowgreen;
}

.nlp .organizationlink {
    border: 2px;
	border-style: none;
	border-color: lightgrey;
}

.nlp .titlelink {
    border: 2px;
	border-style: none;
	border-color: #bb0;
}
.nlp .vocationlink {
    border: 2px;
	border-style: none;
	border-color: #bb0;
}
.nlp .PoliticalLocation {
    border: 2px;
	border-style: none;
	border-color: lavender;
}
.nlp .GeographicalLocation {
    border: 2px;
	border-style: none;
	border-color: gold;
}
.nlp .EducationalOrganization {
    border: 2px;
	border-style: none;
	border-color: powderblue;
}


