<div class="row">
  <div class="col-sm-4">
  	<div ng-include="'views/description.statistics.partial.html'"></div>
    <p><b>Tyyppi:</b>
        <a ui-sref-active="active" ui-sref="visu.comparison.sides">Pylväsdiagrammit</a> |
        <a ui-sref-active="active" ui-sref="visu2.comparison.sides">Piirakat</a>
    </p>
    <p><b>Näkymä:</b>
        <a ui-sref-active="active" ui-sref="visu2.statistics">Tilastoja</a> |
        <a ui-sref-active="active" ui-sref="visu2.comparison.sides">Vertailu</a>
    </p>
    <div ng-include="'views/mapfacets.partial.html'"></div>
  </div>
  <div class="col-sm-8" min-height="500">
    <div ng-include="'views/visu2/results.partial.html'"></div>
  </div>
</div>
