<div>
    <div>
	<h1>Kielianalyysi: vertailu <span class="glyphicon glyphicon-info-sign" tooltip-placement="bottom"
                uib-tooltip="Näkymässä vertaillaan biografioiden sanamääriä sanaluokittain keskenään. Listalla esitetään yleisimmät sanat biografioista suhteessa kokonaissanamäärään (Kaikki). Sanaluokista esitykseen on valittu verbit, adjektiivit, substantiivit, sekä erillisnimet. Biografiajoukosta on filtteröity pois järjestysnumerot ja joitakin mahdollisia virheellisesti luokiteltuja sanoja. ">
            </span>
	</h1>
    </div>
    <div class="row" style="margin:inherit; display:inline-flex;">
	<div></div>
	<div style="width:40%">
	    <p>
		Aineistosta laskettuja tilastoja. 
		Rajaa vertailtavaa aineistoa tekemällä valintoja vasemmassa ja oikeassa reunassa olevista suodattimista. 
	    </p>
	</div>
	<div style="width:5%;"></div>
	<div style="width:85%;">
	    <div>
		<h4>Esimerkkivertailuja:</h4>
	    </div>
     	    <div>
	    	<a ui-sref-active="active" class="btn btn-primary"  ui-sref="nlp.comparison.sides({facets: vm.facetParam1, facets2: vm.facetParam2})">Amiraalit vs. Papisto</a>
	    	<a ui-sref-active="active" class="btn btn-primary" ui-sref="nlp.comparison.sides({facets: vm.facetParam1Ex1, facets2: vm.facetParam2Ex1})">Ylioppilasmatriikkeli vs. Norssit</a>
	    	<a ui-sref-active="active" class="btn btn-primary" ui-sref="nlp.comparison.sides({facets: vm.facetParam1Ex2, facets2: vm.facetParam2Ex2})">Ylioppilasmatriikkeli vs. Norssit</a>
	    	<a ui-sref-active="active" class="btn btn-primary" ui-sref="nlp.comparison.sides({facets: vm.facetParam1Ex3, facets2: vm.facetParam2Ex3})">Z vs. X</a>
	    	<a ui-sref-active="active" class="btn btn-primary" ui-sref="nlp.comparison.sides({facets: vm.facetParam1Ex3, facets2: vm.facetParam2Ex3})">Z vs. X</a>
	    </div>
    	</div>
    </div>
</div>
