<div>
    <div>
	<h1>Kielianalyysi: vertailu <span class="glyphicon glyphicon-info-sign" tooltip-placement="bottom"
                uib-tooltip="Näkymässä vertaillaan biografioiden sanamääriä sanaluokittain keskenään. Listalla esitetään yleisimmät sanat biografioista suhteessa kokonaissanamäärään (Kaikki). Sanaluokista esitykseen on valittu verbit, adjektiivit, substantiivit, sekä erillisnimet. Biografiajoukosta on suodatettu pois järjestysnumerot ja joitakin mahdollisia virheellisesti luokiteltuja sanoja. ">
            </span>
	</h1>
    </div>
    <div class="row comparison-title-setup">
	<div></div>
	<div class="comparison-title-desc">
	    <p>
		Aineistosta laskettuja tilastoja. 
		Rajaa vertailtavaa aineistoa tekemällä valintoja vasemmassa ja oikeassa reunassa olevista suodattimista. 
	    </p>
	</div>
	<div class="comparison-title-space"></div>
	<div class="comparison-title-examples">
	    <!-- Adding buttons here with a title  -->
	    <div>
		<h4>Esimerkkivertailuja:</h4>
	    </div>
     	    <div>
	    	<a ui-sref-active="active" class="btn btn-primary"  ui-sref="nlp.comparison.sides({facets: vm.facetParam1, facets2: vm.facetParam2})">Amiraalit vs. papisto</a>
	    	<a ui-sref-active="active" class="btn btn-primary" ui-sref="nlp.comparison.sides({facets: vm.facetParam1Ex1, facets2: vm.facetParam2Ex1})">Ylioppilasmatriikkeli vs. norssit</a>
	    	<a ui-sref-active="active" class="btn btn-primary" ui-sref="nlp.comparison.sides({facets: vm.facetParam1Ex4, facets2: vm.facetParam2Ex4})">Ruotsissa syntyneet vs. Venäjällä syntyneet</a>
	    </div>
    	</div>
    </div>
</div>
