
		    	<h1>Tutki ryhmiin liit&shy;tyvää verkostoa</h1>
		    	<p>
		    	Sivulla näytetään havainnekuva henkilöön liittyvästä ver&shy;kos&shy;tosta.
		    	Linkitys on luotu biografiakuvausten viittausten perusteella. 
		    	Huom: osa tietokannoista kuten <em>Kenraalit ja amiraalit</em> tai
		    	<em>Suomen papisto 1800–1920</em> eivät sisällä tällaisia viittauksia.
		    	</p>
		    	<p>
		    	Verkoston solmuja voidaan siirtää hiirellä. 
		    	Solmuja klikkaamalla pääset tarkastelemaan verkostoa valitun henkilön ympärillä.
		    	Alapuoleisilla valikoilla voidaan säätää verkoston laajuutta ja ulkoasua.
		    	</p>
		    	<div class="well well-sm">
		    		<p style="color:{{vm.messagecolor}};">{{ vm.message }}</p>
	     			<p>
						Näytä verkostossa korkeintaan 
						<select ng-model="vm.searchlimit" 
								ng-options="item.label for item in vm.LIMITOPTIONS"
								ng-change="vm.changelimit()">
				     	</select> linkkiä.
				     </p>
				     
	     			<p>
		     			Solmujen koko: 
						<select ng-model="vm.sizeoption" 
								ng-options="item.value for item in vm.SIZEOPTIONS"
								ng-change="vm.changesize()">
				     	</select>
				     	<span ng-if="vm.sizeoption.tooltip" class="glyphicon glyphicon-info-sign tooltip-info" 
								uib-tooltip="{{vm.sizeoption.tooltip}}" tooltip-placement="right"></span>
				     </p>
				     
				     <p>
		     			Solmujen väri: 
						<select ng-model="vm.coloroption" 
								ng-options="item.value for item in vm.COLOROPTIONS"
								ng-change="vm.changecolor()">
				     	</select>
				     	<span ng-if="vm.coloroption.tooltip" class="glyphicon glyphicon-info-sign tooltip-info" 
								uib-tooltip="{{vm.coloroption.tooltip}}" tooltip-placement="right"></span>
				     </p>
				</div>

