<h1>Kielianalyysi: vertailu <span class="glyphicon glyphicon-info-sign"
                uib-tooltip="Näkymässä vertaillaan biografioiden sanamääriä sanaluokittain keskenään. Listalla esitetään yleisimmät sanat biografioista suhteessa kokonaissanamäärään (Kaikki). Sanaluokista esitykseen on valittu verbit, adjektiivit, substantiivit, sekä erillisnimet. Biografiajoukosta on filtteröity pois järjestysnumerot ja joitakin mahdollisia virheellisesti luokiteltuja sanoja. ">
          </span></h1>
<p>
Aineistosta laskettuja tilastoja. 
<br/>Rajaa vertailtavaa aineistoa tekemällä valintoja vasemmassa ja oikeassa reunassa olevista suodattimista. 
</p>
