<div class="col-sm-12 col-md-8 text-center">
  <div class="col-sm-12" ng-show="!vm.person && !vm.error">
      <img class="loading-img" src="images/loading-lg.gif"></img>
    </div>
	 <h1>{{ vm.person.givenName }} {{ vm.person.familyName }}</h1>
      <div class="thumbnail" ng-show="vm.person">
        <div class="person-profile-img">
          <div class="row">
            <div class="col-sm-12 text-center">
              <img ng-repeat="img in vm.person.images" class="person-img img img-responsive" ng-src="{{ img }}" />
            </div>
          </div>
        </div>
        <div class="caption" ng-show="vm.person">
          <div class="visible-caption">
            <div class="row">
              <div class="col-xs-12">
                <p ng-if="(vm.person.birthPlace || vm.person.birthDate || vm.person.deathDate)">
                <span ng-if="(vm.person.birthPlace || vm.person.birthDate)">&#8727;&nbsp;{{ vm.person.birthPlace }} {{ vm.person.birthDate }}</span>
                <span ng-if="(vm.person.deathPlace || vm.person.deathDate)">&dagger;&nbsp;{{ vm.person.deathPlace }}</span>
                <span ng-if=vm.person.deathDate>{{ vm.person.deathDate }}</span>
                </p>
              </div>
              <div ng-if="vm.person.occupation" class="col-xs-12">
                <p>{{ vm.person.occupation | castArray | join:', ' }}</p>
              </div>
              <div class="col-xs-12 icon-menu">
                <a title="Data" class="" ng-href="{{ vm.person.id }}"><span class="glyphicon glyphicon-hdd" aria-hidden="true"></span></a>
              </div>
            </div>
            <div class="row">
              <div ng-if="vm.person.wikipedia" class="col-xs-6 col-xs-offset-3">
                <a ng-href="{{ vm.person.wikipedia }}">Wikipedia</a>
              </div>
              <div ng-if="vm.person.wikidata" class="col-xs-6 col-xs-offset-3">
                <a ng-href="{{ vm.person.wikidata }}">Wikidata</a>
              </div>
              <div ng-if="vm.person.fennica[0]" class="col-xs-6 col-xs-offset-3">
                <a ng-href="{{ vm.person.fennica[0] }}">Fennica</a>
              </div>
              <div ng-if="vm.person.fennica[1]" class="col-xs-6 col-xs-offset-3">
                <a ng-href="{{ vm.person.fennica[1] }}">Fennica (2)</a>
              </div>
              <div ng-if="vm.person.warsampo" class="col-xs-6 col-xs-offset-3">
                <a ng-href="http://www.sotasampo.fi/fi/persons/?uri={{ vm.person.warsampo }}">Sotasampo</a>
              </div>
              <div ng-if="vm.person.kirjasampo" class="col-xs-6 col-xs-offset-3">
                <a ng-href="{{ vm.person.kirjasampo }}">Kirjasampo</a>
              </div>
              <div ng-if="vm.person.kulttuurisampo" class="col-xs-6 col-xs-offset-3">
                <a ng-href="{{ vm.person.kulttuurisampo }}">Kulttuurisampo</a>
              </div>
              <div ng-if="vm.person.blf" class="col-xs-6 col-xs-offset-3">
                <a ng-href="{{ vm.person.blf }}">BLF</a>
              </div>
              <div ng-if="vm.person.ulan" class="col-xs-6 col-xs-offset-3">
                <a ng-href="{{ vm.person.ulan }}">ULAN</a>
              </div>
              <div ng-if="vm.person.viaf" class="col-xs-6 col-xs-offset-3">
                <a ng-href="{{ vm.person.viaf }}">VIAF</a>
              </div>
              <div ng-if="vm.person.eduskunta" class="col-xs-6 col-xs-offset-3">
                <a ng-href="{{ vm.person.eduskunta }}">Eduskunta</a>
              </div>
              <div ng-if="vm.person.norssi" class="col-xs-6 col-xs-offset-3">
                  <a ng-href="http://www.norssit.fi/semweb/#!/tiedot/http:~2F~2Fldf.fi~2Fnorssit~2F{{ vm.person.norssi }}">Norssi</a>
                </div>
              <div ng-if="vm.person.website" class="col-xs-6 col-xs-offset-3">
                <a ng-href="{{ vm.person.website }}">Kotisivu</a>
              </div>
              <div ng-if="vm.person.genicom" class="col-xs-6 col-xs-offset-3">
                <a ng-href="{{ vm.person.genicom }}">Kotisivu (Geni.com)</a>
              </div>
              <div ng-if="vm.person.genitree" class="col-xs-6 col-xs-offset-3">
                <a ng-href="{{ vm.person.genitree }}">Sukupuu (Geni.com)</a>
              </div>
            </div>
            <div ng-if="vm.person.relative" class="row padded-row">
              <div class="col-xs-12"><h4>Sukulaiset:</h4></div>
              <div class="col-sm-6 col-md-12" ng-repeat="relative in vm.person.relative | castArray">
                <a ui-sref="person.detail({ personId: relative.id })">{{ relative.type }} {{ relative.name }}</a>
              </div>
            </div>
            <div ng-if="vm.person.hobby" class="row padded-row">
              <div class="col-md-12">
                <p><b>Harrastukset:</b> {{ vm.person.hobby | castArray | join: ', ' }}</p>
              </div>
            </div>
            
            <div class="col-sm-6 col-md-12" ng-repeat="bio in vm.person.bios | castArray">
            	<div ng-if="bio.database" class="entry-text text-left icon-menu">
	              <hr />
	              
	              	<h4>{{ bio.database }} <a ng-if="bio.link" title="Artikkeli Biografiakeskuksen sivulla" class="" ng-href="{{ bio.link }}">
	              	<span class="glyphicon glyphicon-book" aria-hidden="true"></span>
	              	</a></h4>
	              
	            </div>
            	<div ng-if="bio.lead_paragraph" class="entry-text text-left">
	              <hr />
	              <p ng-bind-html="bio.lead_paragraph"></p>
	            </div>
	            <div ng-if="bio.description" class="entry-text text-left">
	              <hr />
	              <p ng-bind-html="bio.description"></p>
	            </div>
	            
	            <div ng-if="bio.family_paragraph" class="entry-text text-left">
	              <hr />
	              <p>{{ bio.family_paragraph }}</p>
	            </div>
	            
	             <div ng-if="bio.parent_paragraph" class="entry-text text-left">
	              <hr />
	              <h4>Vanhemmat</h4>
	              <p>{{ bio.parent_paragraph }}</p>
	            </div>
	            <div ng-if="bio.spouse_paragraph" class="entry-text text-left">
	              <hr />
	              <h4>Puoliso(t) vanhempineen</h4>
	              <p>{{ bio.spouse_paragraph }}</p>
	            </div>
	            <div ng-if="bio.child_paragraph" class="entry-text text-left">
	              <hr />
	              <h4>Lapset</h4>
	              <p>{{ bio.child_paragraph }}</p>
	            </div>
	            
	            <div ng-if="bio.medal_paragraph" class="entry-text text-left">
	              <hr />
	              <h4>Kunniamerkit</h4>
	              <p>{{ bio.medal_paragraph }}</p>
	            </div>
	            
	            <div ng-if="bio.source_paragraph" class="entry-text text-left">
	              <hr />
	              <p ng-bind-html="bio.source_paragraph"></p>
	            </div>
	            
	            <div  class="entry-text text-left">
	            	<hr />
	            	<span ng-if="bio.author_text">Kirjoittaja(t): {{ bio.author_text }}. </span>
	            	<span ng-if="bio.created">Julkaistu {{ bio.created | date:'dd.MM.yyyy' }}</span>
	            	<span ng-if="bio.modified">(päivitetty {{ bio.modified | date:'dd.MM.yyyy' }})</span>
	            </div>
	            <hr />
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--
    <div class="col-md-4 text-left">
    	 <ws-related-links data-title="'Samankaltaisia henkil&ouml;it&auml;'" data-related="vm.person.sameAuthor" ></ws-related-links> 
    	<ws-related-links-paged data-title="'T&auml;nne viittaavat sivut'" data-paginator="vm.person.sameAuthor"></ws-related-links-paged> 
    </div>
     -->
     <div class="col-md-4 text-left" ng-if="vm.person.similar">
      <h3>Samankaltaisia henkilöitä</h3>
      <img ng-if="!vm.person.similar" class="loading-img" src="images/loading-lg.gif"></img>
      <div class="col-sm-6" ng-repeat="person in vm.person.similar">
      	<a ui-sref="person.detail({ personId: person.prs })">{{ person.label }}</a>
      </div>
    </div>
    <div class="col-md-4 text-left" ng-if="vm.person.referenced">
      <h3>T&auml;nne viittaavat sivut</h3>
      <img ng-if="!vm.person.referenced" class="loading-img" src="images/loading-lg.gif"></img>
      <div class="col-sm-6" ng-repeat="person in vm.person.referenced">
      	<a ui-sref="person.detail({ personId: person.id.url })">{{ person.id.name }}</a>
      </div>
    </div>
    <div class="col-md-4 text-left" ng-if="vm.person.sameAuthor">
      <h3>Samoilta kirjoittajilta</h3>
      <img ng-if="!vm.person.sameAuthor" class="loading-img" src="images/loading-lg.gif"></img>
      <div class="col-sm-6" ng-repeat="person in vm.person.sameAuthor">
      	<a ui-sref="person.detail({ personId: person.id.url })">{{ person.id.name }}</a> ({{ person.author }})
      </div>
    </div>
  </div>
</div>
