<footer class="footer">
	<div class="container-fluid">
		<hr />
		<span id="google_translate_element"></span>

		<a href="https://seco.cs.aalto.fi" style="border:0px">
			<IMG id="seco" alt="Semantic Computing Research Group" src="https://www.ldf.fi/img/seco-logo.png"
											style="height:50px;padding-right:30px; border:none" ></a>
		<a href="https://www.aalto.fi/en/">
			<IMG id="aalto" alt="Aalto University" src="https://www.ldf.fi/img/aalto-logo.png"
											style="height:50px; padding-right:30px; padding-bottom:5px; border:none"></a>
		<a href="http://www.heldig.fi/">
			<IMG id="heldig" alt="HELDIG - Helsinki Centre for Digital Humanities" src="http://www.ldf.fi/img/bio/heldig-text.jpg"
											style="height:50px; padding-right:30px; border:none"></a>
		<a href="https://www.helsinki.fi/en/">
			<IMG id="aalto" alt="University of Helsinki" src="https://www.ldf.fi/img/hy-logo.gif"
											style="height:80px; padding-right:30px; padding-bottom:5px; border:none"></a>
		<a href="https://www.finlit.fi/">
			<IMG id="sks" alt="Finnish Literature Society" src="https://www.ldf.fi/img/sks.jpg"
											style="height:50px; padding-right:30px; border:none"></a>

	</div>
</footer>