<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12" ng-show="!vm.person && !vm.error">
      <img class="loading-img" src="images/loading-lg.gif"></img>
    </div>
    <div uib-alert ng-if="vm.error">
      {{ vm.error }}
    </div>
    <div class="col-sm-12 col-md-8 text-center" ng-show="vm.person">
      <h1>{{ vm.person.givenName }} {{ vm.person.familyName }}</h1>
      <div class="thumbnail">
      
        <ui-gmap-google-map center='vm.map.center' zoom='vm.map.zoom'>
        	<ui-gmap-marker ng-repeat="event in ::vm.events" 
        		coords="event.coords" 
        		idkey="event.marker_id" 
        		options="event.options"
        	></ui-gmap-marker>
        </ui-gmap-google-map>
        
        <svg id="timelinecontainer" viewBox="-50,-50,850,150" version="1.0" x="0" y="0" width="900" height="200" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
			  	<line ng-repeat="line in ::vm.mainline" x1="{{ line.start }}" x2="{{ line.end }}" y1="0" y2="0"/>
			  
			  	<a ng-repeat="event in ::vm.events" id="mylink" xlink:href="" target="_top">
			  		<path class="{{ event.class }}" 
			  d="M{{ event.x0 }},-15 a 15 15 0 0 0 0 30 H {{ event.x1 }} a 15 15 0 0 0 0 -30 Z">
			  			<title>{{ event.elabel }}</title> 
			  		</path>
			  	</a>
		  		<text x="0" y="35">{{ vm.events.min_year }}</text>
			  	<text x="750" y="35">{{ vm.events.max_year }}</text>
  

		</svg>
		</div>
    </div>
  </div>
</div>
