<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12" ng-show="!vm.person && !vm.error">
      <img class="loading-img" src="images/loading-lg.gif"></img>
    </div>
    <div uib-alert ng-if="vm.error">
      {{ vm.error }}
    </div>
    <div class="col-sm-12 col-md-8 text-center" ng-show="vm.person">
      <h1>{{ vm.person.givenName }} {{ vm.person.familyName }}</h1>
      <div class="thumbnail">
      
        <ui-gmap-google-map center='vm.map.center' zoom='vm.map.zoom'>
        	<ui-gmap-marker ng-repeat="event in ::vm.events" 
        		coords="event.coords" 
        		idkey="event.marker_id" 
        		options="event.options" 
        	></ui-gmap-marker>
        </ui-gmap-google-map>
        
        <svg id="timelinecontainer" viewBox="-50,-40,850,180" version="1.0" x="0" y="0" width="900" height="180" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
			  	<line ng-repeat="line in ::vm.mainline" ng-attr-x1="{{ line.start }}" ng-attr-x2="{{ line.end }}" y1="0" y2="0"/>
			  
			  	<a ng-repeat="event in ::vm.events" id="mylink" target="_top" 
			  		ng-mouseover="vm.focusEvent(event)"
			  		ng-mouseleave="vm.currentEvent='.'"
			  		>
			  		<path class="{{ event.class }}" 
			  			ng-attr-d="{{ event.path }}">
			  			<title>{{ event.elabel }}</title> 
			  		</path>
			  	</a>
		  		<text x="0" y="35">{{ vm.events.min_year }}</text>
			  	<text x="750" y="35">{{ vm.events.max_year }}</text>
	  	</svg>
			       <p><span>{{ vm.currentEvent }}</span></p>
        </div>
    </div>
  </div>
</div>
