
<div class="container-fluid">
  <div class="row">
    <!-- DO NOT REMOVE THIS COMMENT, IT IS A HACK -->
    <div class="col-md-3 pull-md-3 col-lg-2">
      <div ng-include="'views/description.network.partial.html'"></div>
      <div ng-include="'views/facets.partial.html'"></div>
    </div>
    
    <div class="container-fluid text-center">
    		<div class="container-fluid">
    			<img class="loading-img" src="images/loading-lg.gif" ng-if="!vm.cy"></img>
    			<div class="col-md-8 col-lg-9">
    				<div id="networkcontainer"></div>
    			</div>
	      	</div>
	   
	  </div>
	</div>
</div>
