
<div class="container-fluid">
  <div class="row">
    <div class="col-md-2 col-sm-2 col-xs-2 vcenter push-xs-2">
      <img src="images/SKB.svg" class="norssi-logo center-block img img-responsive" /> 
    </div><!-- DO NOT REMOVE THIS COMMENT, IT IS A HACK
 --><div class="col-xs-9 col-md-8 col-lg-9 vcenter push-xs-9">
      <div ng-include="'views/description.statistics.partial.html'"></div>
    </div>
    <div class="col-md-3 pull-md-3 col-lg-2">
      <div ng-include="'views/facets.partial.html'"></div>
    </div>
    <div class="col-md-9 col-lg-10" min-height="500">
      <img class="loading-img" src="images/loading-lg.gif" ng-if="vm.isLoadingResults"></img>

      <div id="biography-chart"></div>

      <div ng-show="vm.error" class="alert alert-info" role="alert">{{ vm.error.message }}</div>

      <div class="col-md-3" ng-repeat="key in vm.upos">
      <table>
        <th>{{ key }}</th>
        <th>Lkm</th>
        <tr ng-repeat="word in vm.results[key]">
          <td>{{ word.lemma }}</td>
          <td>{{ word.count }}</td>
        </tr>
      </table>
      </div>

    </div>
  </div>
</div>
