<div class="container-fluid">
  
  <div class="row">
  
	<div class="col-md-3 pull-md-3 col-lg-3 facetsidebar" style="top: 60px;" >
		<h1>Paikkasivu</h1>
		<p>
		Sivulla näytetään yksittäisen paikan tietoja, kuten listat siellä eläneistä ja vaikuttaneista henkilöistä.
		</p>
		<div ng-if="!vm.place" style="color:red;">Haettua paikkaa ei löydy tietokannasta.</div>
		<div class="well" ng-if="vm.place">
			<div class="relativeblock">
			      <h3>Paikan tiedot</h3>
			      <span class="glyphicon glyphicon-info-sign"
						uib-tooltip="Tässä näytetään paikan muita nimiä, sekä linkkejä muihin tietokantoihin."
						tooltip-placement="bottom"
						>
				  </span>
			</div>
			<div ng-if="vm.place.alabel">{{ vm.place.alabel | join:', ' }}</div>
			<div ng-if="vm.place.yso">
                <a ng-href="{{ vm.place.yso }}">kohde Finton tietokannassa YSO-paikat</a>
            </div>
            <div ng-if="vm.place.googleapi">
                <a ng-href="{{ vm.place.googleapi }}">kohde Googlen koordinaattihaussa</a>
            </div> 
            <div ng-if="vm.place.wikidata">
                <a ng-href="{{ vm.place.wikidata }}">kohde Wikidata-tietokannassa</a>
            </div>
		</div>
		
        <div class="well" ng-if="vm.related">
            <div class="relativeblock">
			      <h3>Liittyviä paikkoja ({{vm.related.length}})</h3>
			      <span class="glyphicon glyphicon-info-sign"
						uib-tooltip="Tässä listassa näytetään hierarkiassa ylempiä (maakunta, valtio, maanosa) sekä alempia (kylä, kaupunginosa) paikkoja.">
				  </span>
			</div>
            <div class="col-sm-6" ng-repeat="place in vm.filteredRelated">
		      	<span class="placelink" url="{{place.id}}">{{place.label}}</span>
		    </div>
			<ul uib-pagination
			 ng-if="vm.related.length>vm.numPerPage"
		     ng-model="vm.currentPage"
		     total-items="vm.related.length"
		     max-size="vm.maxSize"
		     items-per-page="vm.numPerPage"
		     boundary-links="true"
		     first-text="<<"
		     previous-text="<"
		     next-text=">"
		     last-text=">>">
		   </ul>
		   <span ng-if="vm.related.length<=vm.numPerPage">.</span>
		   
		 </div>
		 
		 <div class="well" ng-if="vm.Birth">
	    	<div class="relativeblock">
	    		<h3>Syntyneet ({{ ::vm.Birth.count }})</h3>
		    	<span class="glyphicon glyphicon-info-sign" 
		    		uib-tooltip="Tässä näytetään lista paikassa syntyneistä henkilöistä.">
		    	</span>
	      	</div>
	      <nbf-personlist url="{{ vm.Birth.people }}"></nbf-personlist>
    	</div>
    	
    	<div class="well" ng-if="vm.Death">
	    	<div class="relativeblock">
	    		<h3>Kuolleet ({{ ::vm.Death.count }})</h3>
		    	<span class="glyphicon glyphicon-info-sign" 
		    		uib-tooltip="Tässä näytetään lista paikassa kuolleista henkilöistä.">
		    	</span>
	      	</div>
	      <nbf-personlist url="{{ vm.Death.people }}"></nbf-personlist>
    	</div>
    	
    	<div class="well" ng-if="vm.Career">
	    	<div class="relativeblock">
	    		<h3>Ura ({{ ::vm.Career.count }})</h3>
		    	<span class="glyphicon glyphicon-info-sign" 
		    		uib-tooltip="Tässä näytetään henkilöt, jotka ovat opiskelleet tai olleet työssä paikkakunnalla.">
		    	</span>
	      	</div>
	      <nbf-personlist url="{{ vm.Career.people }}"></nbf-personlist>
    	</div>
    	
    	<div class="well" ng-if="vm.Product">
	    	<div class="relativeblock">
	    		<h3>Teokset ({{ ::vm.Product.count }})</h3>
		    	<span class="glyphicon glyphicon-info-sign" 
		    		uib-tooltip="Henkilöillä on paikkaan liittyviä teoksia.">
		    	</span>
	      	</div>
	      <nbf-personlist url="{{ vm.Product.people }}"></nbf-personlist>
    	</div>
    	
    	<div class="well" ng-if="vm.Honour">
	    	<div class="relativeblock">
	    		<h3>Kunniamaininnat ({{ ::vm.Honour.count }})</h3>
		    	<span class="glyphicon glyphicon-info-sign" 
		    		uib-tooltip="Henkilöillä on paikkaan liittyviä kunniamainintoja.">
		    	</span>
	      	</div>
	      <nbf-personlist url="{{ vm.Honour.people }}"></nbf-personlist>
    	</div>
    	 
	</div>
	
	<div class="col-md-9 col-lg-9 mapcontent" style="top: 60px;" >
		
	    <div class="col-sm-12 text-center">
	    	<h1>{{ vm.place.label }}</h1>
	  	</div>
	  	
		<div class="col-sm-12 mapspinner" ng-show="vm.isLoadingResults" >
		    <img class="loading-img" src="images/loading-lg.gif"></img>
		</div>
		
		<div class="row">
		
			<ui-gmap-google-map 
					id="ui-gmap-google-map" 
					center='vm.map.center' 
					zoom='vm.map.zoom' 
					events='vm.mapevents'>
			  		
			  	<ui-gmap-window 
			  			id="ui-gmap-window" 
			  			show="vm.window.show" 
			  			options="vm.window" 
			  			templateUrl="'views/groupmap/popup.html'"
			            templateParameter="vm"
			         	closeClick="vm.closeWindow">
			         	<span></span>
			     </ui-gmap-window>
			     		
			      <ui-gmap-marker ng-repeat="marker in vm.markers" 
			      		coords="marker" 
			      		idkey="marker.id" 
			      		options="marker.options"
			      		click="marker.onClick()">
			      </ui-gmap-marker>
			</ui-gmap-google-map>
		</div>
		
	</div>
</div>
</div>
