
<div class="wrapper">
  	<noscript>
        <div class="alert alert-danger text-center">
          <h3>Sovellus vaatii toimiakseen JavaScriptin. The application requires JavaScript to function.</h3>
        </div>
    </noscript>

    <div class="container">



<div id="jumbo" class="jumbotron" >
        <div class="row">
          <div class="col-md-10">
            <noscript>
              <h1>Biografiasampo</h1>
              <p>Suomalaisten elämäkertojen verkosto semanttisessa webissä</p>
            </noscript>
            <br />
            <h1 id="jumboTitle">{{ ::vm.strings["jumboTitle"] }}</h1>
            <p id="jumboSubtitle" >{{ ::vm.strings["jumboSubtitle"] }}</p>
          </div>
        </div>
      </div> <!-- Jumbotron -->
      <div class="row">
        <div class="col-md-12">

          <p><a href="http://seco.cs.aalto.fi/projects/biografiasampo/">Biografiasampo</a> mahdollistaa suomalaisten elämäkertojen, henkilöiden ja henkilöryhmien tutkimisen digitaalisten ihmistieteiden menetelmillä. Palvelun ydinaineistona on Suomalaisen Kirjallisuuden Seuran Kansallisbiografia ja muut tietokannat, yhteensä n. 13 000 elämäkertaa, joita on rikastettu muilla ulkoisilla aineistoilla. Valitse alta sovellusnäkymä aineistoihin. Lisätietoa <a data-toggle='modal' data-target='#myModal' href='#'> ohjeessa</a>.</p>

          <noscript>
            <p>Portaalilla voi hakea, selata ja visualisoida laajoja tietoaineistoja Suomen historiallisista henkilöistä.</p>
            <p><b>Salli JavaScript käyttääksesi Suomen sukua. Please enable JavaScript to use Semantic Biography of Finland.</b></p>
          </noscript>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <hr/>
          <h3 id="choosePerspective">{{ ::vm.strings["choosePerspective"] }}</h3>
          <!-- PERSPECTIVES -->

          <div class="row">
            <a id="events" class="col-md-4 pers-link" ui-sref="search.cards">
              <div class="persbox" id="nav-events")>
                <h4 id="searchH">{{ ::vm.strings["searchH"] }}</h4>
                <p id="searchP">{{ ::vm.strings["searchP"] }}</p>
              </div>
            </a>

			<a id="places" class="col-md-4 pers-link" target="_self" href="http://biografiasampo.fi/paikat/">
              <div class="persbox" id="nav-places">
                <h4 id="placesH">{{ ::vm.strings["placesH"] }}</h4>
                <p  id="placesP">{{ ::vm.strings["placesP"] }}</p>
              </div>
            </a>

            <a id="maps" class="col-md-4 pers-link" ui-sref="maps.singleview">
              <div class="persbox" id="nav-maps" >
                <h4 id="mapsH">{{ ::vm.strings["mapsH"] }}</h4>
                <p  id="mapsP">{{ ::vm.strings["mapsP"] }}</p>
              </div>
            </a>



            <a id="statistics" class="col-md-4 pers-link" ui-sref="visu.statistics">
              <div class="persbox" id="nav-statistics">
                <h4 id="statisticsH">{{ ::vm.strings["statisticsH"] }}</h4>
                <p  id="statisticsP">{{ ::vm.strings["statisticsP"] }}</p>
              </div>
            </a>

            <a id="networks" class="col-md-4 pers-link" ui-sref="network.net">
              <div class="persbox" id="nav-networks">
                <h4 id="networksH">{{ ::vm.strings["networksH"] }}</h4>
                <p  id="networksP">{{ ::vm.strings["networksP"] }}</p>
              </div>
            </a>

            <a id="relations" class="col-md-4 pers-link" target="_self" href="http://biografiasampo.fi/yhteyshaku/">
              <div class="persbox" id="nav-relations">
                <h4 id="relationsH">{{ ::vm.strings["relationsH"] }}</h4>
                <p  id="relationsP">{{ ::vm.strings["relationsP"] }}</p>
              </div>
            </a>

            <a id="language" class="col-md-4 pers-link" ui-sref="nlp.statistics({ facets: vm.admiralFacet })">
              <div class="persbox" id="nav-language">
                <h4 id="casultiesH">{{ ::vm.strings["casultiesH"] }}</h4>
                <p  id="casultiesP">{{ ::vm.strings["casultiesP"] }}</p>
              </div>
            </a>

          </div>
        </div>


      <div class="push"></div>

    </div> <!-- container -->

<hr/>
<h4>Linkkejä esimerkkisivuille Biografiasammon käytöstä</h4>

<div style = "line-height:38px">
<a class="btn btn-primary" role="button"
ui-sref="person.detail({ personId: 'p992'})">
Elämäkerta: Jean Sibeliuksen kotisivu ja Kansallisbiografia</a>

<a class="btn btn-primary" role="button"
ui-sref="person.detail({ personId: 'p828', tab:'genisukupuu'})">
Suku ja verkosto: Minna Canthin kotisivu ja sukupuunäkymä</a>

<a class="btn btn-primary" role="button"
ui-sref="person.map({ personId: 'p987'})">
Elämä kartalla ja aikajanalla: Eliel Saarisen kansainvälinen ura</a>

<a class="btn btn-primary" role="button"
ui-sref="person.network({ personId: 'p522', coloroption: 3, sizeoption: 1 })">
Verkostot: Tapio Rautavaaran egosentrinen verkosto</a>

<a class="btn btn-primary" role="button"
ui-sref="maps.comparison2.sides({facets: vm.admiralFacet, facets2: vm.clergyFacet, map:vm.mapParam, map2:mapParam2 })">
Ryhmät: Suomen suuriruhtinaskunnan kenraalien ja amiraalien (1809-1917) ja papiston (1800-1920) elämäkarttojen vertailu</a>

<a class="btn btn-primary" role="button"
ui-sref="place({ placeId: 'Turku'})">
Paikka: Turku</a>

<a class="btn btn-primary" role="button"
ui-sref="nlp.statistics({ facets: vm.clergyFacet })">
Kielianalyysi Papiston biografioiden kielenkäytöstä</a>

<a class="btn btn-primary" role="button"
ui-sref="person.sentence({ personId: 'p874'})">
Lauseiden sisältämät viittaukset Ida Aalbergiin ja lauseissa mainitut henkilöt joihin hän viittaa.</a>


</div>
<p></p>
<p>
	<a href="https://www.facebook.com/groups/514385075640669/">
          <img src="images/FB-f-Logo__blue_29.png" /> <span id="followFacebook">{{ ::vm.strings["followFacebook"] }}</span>
    </a>
</p>
</div>

<!--   FOOTER     -->
<div ng-include="'views/footer.html'"></div>
