<!DOCTYPE html>
<html lang="fi">

<head>
  <!-- 
  //	NOTE: this functionality moved to scripts/portal.controller.js
  
  <script src="../scripts/front-page.js"></script>
  <title></title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
   <meta name="google-site-verification" content="yC4ofDhxNJ_sXh8xCtC7RxpxGtbTdTxavHmkx9aaTJ4" />

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
  
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
   
  <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "WebSite",
      "url": "https://www.sotasampo.fi",
      "name": "Sotasampo",
      "alternateName": "WarSampo",
      "sameAs": [
        "https://www.wikidata.org/entity/Q28942343",
        "https://www.facebook.com/groups/sotasampo"
      ]
    }
  </script>

  <script>
    if (window.location.host === 'www.sotasampo.fi') {
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-12724615-12', 'auto');
      ga('send', 'pageview');
    }
</script>
<script>
  	$(document).ready(function(){
  		$("#nav").load("page-templates/navbar-fi.html.partial");
    	$("#footer").load("views/footer.html.partial") 
		}) 
</script>
  -->
  
</head>

<body>

<div class="wrapper">
  	<noscript>
        <div class="alert alert-danger text-center">
          <h3>Sovellus vaatii toimiakseen JavaScriptin. The application requires JavaScript to function.</h3>
        </div>
    </noscript>
	
     <!--  CONTAINER -->
     
    <div class="container">

<!--  HEADER -->  
 
<!-- 
<div id="nav"></div>
<img src = "css/bios.png" height="50px"><img src = "css/bios.png" height="50px"> <img src = "css/bios.png" height="50px"><img src = "css/bios.png" height="50px">      
 -->
    <!--  JUMBO -->
    
<div id="jumbo" class="jumbotron" >
        <div class="row">
          <div class="col-md-10">
            <noscript>
              <h1>Biografiasampo</h1>
              <p>Suomalaisten elämäkertojen verkosto semanttisessa webissä</p>
            </noscript>
            <br />
            <h1 id="jumboTitle">{{ ::vm.strings["jumboTitle"] }}</h1>
            <p id="jumboSubtitle" >{{ ::vm.strings["jumboSubtitle"] }}</p>
          </div>
        </div>
      </div> <!-- Jumbotron -->
      <div class="row">
        <div class="col-md-12">

          <p id="generalDesc">{{ ::vm.strings["generalDesc"] }} (<a data-toggle='modal' data-target='#myModal' href='#'>ohje</a>).</p>
          <noscript>
            <p>Portaalilla voi hakea, selata ja visualisoida laajoja tietoaineistoja Suomen historiallisista henkilöistä.</p>
            <p><b>Salli JavaScript käyttääksesi Suomen sukua. Please enable JavaScript to use Semantic Biography of Finland.</b></p>
          </noscript>
          <p><a href="https://www.facebook.com/groups/514385075640669/">
          <img src="images/FB-f-Logo__blue_29.png" /> <span id="followFacebook">{{ ::vm.strings["followFacebook"] }}</span></a></p>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <hr/>
          <h3 id="choosePerspective">{{ ::vm.strings["choosePerspective"] }}</h3>
          <!-- PERSPECTIVES -->

          <div class="row">
            <a id="events" class="col-md-4 pers-link" ui-sref="search.cards">
              <div class="persbox" id="nav-events")>
                <h4 id="searchH">{{ ::vm.strings["searchH"] }}</h4>
                <p id="searchP">{{ ::vm.strings["searchP"] }}</p>
              </div>
            </a>

            <a id="maps" class="col-md-4 pers-link" ui-sref="maps.singleview">
              <div class="persbox" id="nav-maps" >
                <h4 id="mapsH">{{ ::vm.strings["mapsH"] }}</h4>
                <p  id="mapsP">{{ ::vm.strings["mapsP"] }}</p>
              </div>
            </a>

			<a id="places" class="col-md-4 pers-link">
              <div class="persbox" id="nav-places">
                <h4 id="placesH">{{ ::vm.strings["placesH"] }}</h4>
                <p  id="placesP">{{ ::vm.strings["placesP"] }}</p>
              </div>
            </a>
            
            <a id="statistics" class="col-md-4 pers-link" ui-sref="visu.statistics">
              <div class="persbox" id="nav-statistics">
                <h4 id="statisticsH">{{ ::vm.strings["statisticsH"] }}</h4>
                <p  id="statisticsP">{{ ::vm.strings["statisticsP"] }}</p>
              </div>
            </a>

            <a id="networks" class="col-md-4 pers-link" ui-sref="network">
              <div class="persbox" id="nav-networks">
                <h4 id="networksH">{{ ::vm.strings["networksH"] }}</h4>
                <p  id="networksP">{{ ::vm.strings["networksP"] }}</p>
              </div>
            </a>
			
            <a id="relations" class="col-md-4 pers-link">
              <div class="persbox" id="nav-relations">
                <h4 id="relationsH">{{ ::vm.strings["relationsH"] }}</h4>
                <p  id="relationsP">{{ ::vm.strings["relationsP"] }}</p>
              </div>
            </a>

            <a id="language" class="col-md-4 pers-link" ui-sref="nlp.statistics">
              <div class="persbox" id="nav-language">
                <h4 id="casultiesH">{{ ::vm.strings["casultiesH"] }}</h4>
                <p  id="casultiesP">{{ ::vm.strings["casultiesP"] }}</p>
              </div>
            </a>
            
          </div>
        </div>
       

      <div class="push"></div>
     
    </div> <!-- container -->
    	 
<hr/>
<h3>Esimerkkejä Biografiasammon käytöstä</h3>
<div style = "line-height:38px">
<a class="btn btn-primary" role="button"
ui-sref="person.detail({ personId: 'p992'})">
Elämäkerta: Jean Sibeliuksen kotisivu ja Kansallisbiografia</a>

<a class="btn btn-primary" role="button"
ui-sref="person.detail({ personId: 'p828', tab:'genisukupuu'})">
Suku ja verkosto: Minna Canthin kotisivu ja sukupuunäkymä</a>

<a class="btn btn-primary" role="button"
ui-sref="person.map({ personId: 'p987'})">
Elämä kartalla ja aikajanalla: Eliel Saarisen kansainvälinen ura</a>
 
<a class="btn btn-primary" role="button"
ui-sref="person.network({ personId: 'p522', coloroption: 3, sizeoption: 1 })">
Verkostot: Tapio Rautavaaran egosentrinen verkosto</a>

<a class="btn btn-primary" role="button"
ui-sref="maps.comparison2.sides({facets: vm.admiralFacet, facets2: vm.clergyFacet, map:vm.mapParam, map2:mapParam2 })">
Ryhmät: Suomen suuriruhtinaskunnan kenraalien ja amiraalien (1809-1917) ja papiston (1800-1920) elämäkarttojen vertailu</a> 

<div/> <!--  Esimerkit  -->
   
  </div> <!-- wrapper -->


<!--   FOOTER     -->
<div ng-include="'views/footer.html'"></div>

</body>
</html>
