<ul class="nav navbar-nav">
	<li ui-sref-active="{ active: 'search.**' }"><a ui-sref="search.cards"><span class="glyphicon glyphicon-search" aria-hidden="true"></span> Haku</a></li>
	<li ui-sref-active="{ active: 'maps.**' }"><a ui-sref="maps.singleview">
		<span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span> Kartat</a></li>
	<li ui-sref-active="active"><a ui-sref="#">
		<span class="glyphicon glyphicon-globe" aria-hidden="true"></span> Paikat</a></li>
	<li ui-sref-active="{ active: 'visu.**' }"><a ui-sref="visu.statistics"><span class="glyphicon glyphicon-stats" aria-hidden="true"></span> Tilastot</a></li>
	<li ui-sref-active="{ active: 'network' }"><a ui-sref="network"><span class="glyphicon glyphicon-link" aria-hidden="true"></span> Verkostot</a></li>
	<li ui-sref-active="active"><a ui-sref="#"><span class="glyphicon glyphicon-resize-small" aria-hidden="true"></span> Yhteyshaku</a></li>
	<li ui-sref-active="{ active: 'nlp.**' }"><a ui-sref="nlp.statistics"><span class="glyphicon glyphicon-book" aria-hidden="true"></span> Kielianalyysi</a></li>
</ul>