<ul class="nav navbar-nav">
  <li><a href="" id="show-help" ng-click="vm.showHelp()"><span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span> Ohje</a></li>
	
  <li ui-sref-active="{ active: 'search.**' }"><a ui-sref="search.cards"><span class="glyphicon glyphicon-search" aria-hidden="true"></span> Henkilöhaku</a></li>
  <li ui-sref-active="{ active: 'maps.**' }"><a ui-sref="maps.singleview"><span class="glyphicon glyphicon glyphicon-globe" aria-hidden="true"></span> Kartat</a></li>
  <li ui-sref-active="{ active: 'visu.**' }"><a ui-sref="visu.statistics"><span class="glyphicon glyphicon-stats" aria-hidden="true"></span> Tilastoja</a></li>
  <li ui-sref-active="{ active: 'nlp.**' }"><a ui-sref="nlp.statistics"><span class="glyphicon glyphicon-book" aria-hidden="true"></span> Kielianalyysi</a></li>
  <li ui-sref-active="active"><a ui-sref="network"><span class="glyphicon glyphicon-link" aria-hidden="true"></span> Verkosto</a></li>

</ul>
