<nbf-person url="http://ldf.fi/nbf/p6428"></nbf-person>
<nbf-person url="http://ldf.fi/nbf/p4901"></nbf-person>
<br />
<br />
<nbf-persongroup url="http://ldf.fi/nbf/p6184,http://ldf.fi/nbf/p4901,http://ldf.fi/nbf/p4902,http://ldf.fi/nbf/p4903,http://ldf.fi/nbf/p4904,http://ldf.fi/nbf/p4905,http://ldf.fi/nbf/p4906,http://ldf.fi/nbf/p4907,http://ldf.fi/nbf/p4908,http://ldf.fi/nbf/p4909,http://ldf.fi/nbf/p4910"></nbf-persongroup>

<nbf-persongroup url="p6184,p4901,p4902,p4903,p4904,p4905,p4906,p4907,p4908,p4909,p4910"></nbf-persongroup>

kokeneen kokoomuspoliitikon <span class="personlink" url="http://ldf.fi/nbf/p4901">Sauli Niinistön</span> kanssa
<br/>