<div class="container-fluid">
  <div class="row">
    <div class="col-md-2 col-sm-2 col-xs-2 vcenter push-xs-2">
      <img src="images/SKB.svg" class="norssi-logo center-block img img-responsive" /> 
    </div><!-- DO NOT REMOVE THIS COMMENT, IT IS A HACK
 --><div class="col-xs-9 col-md-8 col-lg-9 vcenter push-xs-9">
      <div ng-include="'views/description.statistics.partial.html'"></div>
      <span><b>Näkymä:</b>
        <a ui-sref-active="active" ui-sref="visu.statistics">Tilastoja</a> |
        <a ui-sref-active="active" ui-sref="visu.comparison.sides">Vertailu</a>
      </span>
    </div>
    <div ui-view></div>
  </div>
</div>