<div class="col-md-3 pull-md-3 col-lg-2">
	<div ng-include="'views/description.statistics.partial.html'"></div>
    <span><b>Näkymä:</b>
        <a ui-sref-active="active" ui-sref="visu.statistics">Tilastoja</a> |
        <a ui-sref-active="active" ui-sref="visu.comparison.sides">Vertailu</a>
        <br/><br/>
    </span>
  <div ng-include="'views/mapfacets.partial.html'"></div>
</div>
<div class="col-md-9 col-lg-10" min-height="500">
  <div ng-include="'views/visu/results.partial.html'"></div>
</div>
