<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
	    <ul class="nav nav-tabs">
	      <li ui-sref="visu.statistics" ui-sref-active="active">
	        <a href=""><span class="glyphicon glyphicon-stats" aria-hidden="true"></span> Pylväsdiagrammit</a>
	      </li>
	      <li ui-sref="visu.comparison.sides" ui-sref-active="active">
	        <a href=""><span class="glyphicon glyphicon-stats" aria-hidden="true"></span>
	        <span class="glyphicon glyphicon-stats" aria-hidden="true"></span> Pylväsdiagrammien vertailu</a>
	      </li>
	      <li ui-sref="visu.statistics2" ui-sref-active="active">
	        <a href=""><span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span> Piirakkadiagrammit</a>
	      </li>
	      <li ui-sref="visu.comparison2.sides" ui-sref-active="active">
	        <a href=""><span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span>
	        <span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span> Piirakkadiagrammien vertailu</a>
	      </li>
	    </ul>
	  </div>
  </div>
  <div class="row">
  	<br />
    <div ui-view></div>
  </div>
</div>
