<div class="row">
  <div class="col-sm-8" min-height="500">
    <div class="col-sm-12 wordpinner" class="col-md-3 col-sm-2" ng-show="vm.isLoadingWordResults && !vm.error" >
<div class="comparison-result-info alert alert-warning" role="alert">
        HUOM! Tulosten latautuminen voi kestää hetken.
</div>
      <img class="loading-img" src="images/loading-lg.gif"></img>
</div>


    <div ng-include="'views/nlp/results.partial.comparison.html'"></div>
  </div>
  <div class="col-sm-4">
    <div ng-include="'views/mapfacets.partial.html'"></div>
  </div>
</div>
