<div class="col-md-3 pull-md-3 col-lg-2">
  <div ng-include="'views/description.npl.partial.html'"></div>
  <div>
      <!--<span><b>Näkymä:</b>
        <a ui-sref-active="active" ui-sref="nlp.statistics">Tilastoja</a> |
        <a ui-sref-active="active" ui-sref="nlp.comparison.sides({facets: vm.facetParam1, facets2: vm.facetParam2})">Vertailu</a>
      </span>-->
   </div>
      <br/><br/>
  <!--div ng-include="'views/facets.partial.html'"></div-->
  <div ng-include="'views/mapfacets.partial.html'"></div>
</div>
<div class="col-md-9 col-lg-10" min-height="500">
  <img class="loading-img" src="images/loading-lg.gif" ng-if="vm.isLoadingResults"></img>

  <div id="biography-chart"></div>
  <div id="biography-len-chart"></div>
   <div class="row list-row" >
    <div id="biography-top-best" ng-include="'views/nlp/results.top.partial.html'"></div>
    <div id="biography-top-bottom" ng-include="'views/nlp/results.bottom.partial.html'"></div>
   </div><div class="row list-row" >
    <div id="biography-cat-best" ng-include="'views/nlp/results.top.category.partial.html'"></div>
    <div id="biography-cat-bottom" ng-include="'views/nlp/results.bottom.category.partial.html'"></div>
  </div>
  <div class="row" style="margin-top: 20px;"/>
  <div class="row mt-3"><div ng-include="'views/nlp/results.partial.html'"></div></div>

</div>
