<div class="col-sm-12 col-md-8 text-center">
  <div class="col-sm-12" ng-show="!vm.person && !vm.error">
      <img class="loading-img" src="images/loading-lg.gif"></img>
    </div>
	 <h1 class="notranslate">{{ vm.person.givenName }} {{ vm.person.familyName }}</h1>
      <div class="thumbnail" ng-show="vm.person">
        <div class="person-profile-img">
          <div class="row">
            <div class="col-sm-12 text-center">
              <img ng-repeat="img in vm.person.images" class="person-img img img-responsive" ng-src="{{ img }}" 
              		uib-tooltip="Kuvalähde: {{ vm.person.imagesources[$index] }}" tooltip-enable="{{ !!vm.person.imagesources[$index] }}" tooltip-placement="bottom"
              		/> 
            </div>
          </div>
        </div>
        <div class="caption" ng-show="vm.person">
          <div class="visible-caption">
            <div class="row">
              <div class="col-xs-12">
                <p ng-if="(vm.person.birth || vm.person.birthDate || vm.person.death || vm.person.deathDate)">
	                <span ng-if="(vm.person.birth || vm.person.birthDate)">&#8727;&nbsp;
	                	<span ng-repeat="p in vm.person.birth" 
	                		><span ng-if="!$first">, </span
	                		><span class="placelink notranslate" url="{{ ::p.id }}">{{ ::p.label }}</span
	                	></span>
	                	<span ng-if="vm.person.birthDate">{{ vm.person.birthDate }}</span>
	                </span>
	                <span ng-if="(vm.person.death || vm.person.deathDate)">&dagger;&nbsp;
	                	<span ng-repeat="p in vm.person.death" 
	                		><span ng-if="!$first">, </span
	                		><span class="placelink notranslate" url="{{ ::p.id }}">{{ ::p.label }}</span
	                	></span>
	                	<span ng-if="vm.person.deathDate">{{ vm.person.deathDate }}</span>
	                </span>
                </p>
              </div>
              <div ng-if="vm.person.occupation" class="col-xs-12">
                <p>{{ vm.person.occupation | castArray | join:', ' }}</p>
              </div>
              <div ng-if="vm.person.source" class="col-xs-12">
                <p>Lähteet: {{ vm.person.source | castArray | join:', ' }}</p>
              </div>
              
              <div class="col-xs-12 icon-menu">
                
              </div>
            </div>
            
            <!-- 
            <div class="row">
	           	<a title="Data ldf.fi-palvelussa" class="" ng-href="http://ldf.fi/nbf/{{ vm.person.id }}">
	            	<span class="glyphicon glyphicon-hdd" aria-hidden="true"> </span>
	            </a>
            </div>
            <br />
             -->
            
			<div class="btn-group" role="group" ng-if="vm.person.id">
			  
              <a ng-if="vm.person.blf"
                 ng-href="{{ vm.person.blf }}"
                 class="btn btn-default btn-sm">
                 Biografiskt lexikon för Finland</a>
                 
			  <a ng-if="vm.person.eduskunta"
                 ng-href="{{ vm.person.eduskunta }}"
                 class="btn btn-default btn-sm">
                 Eduskunta</a>
                 
			  <a ng-if="vm.person.fennica.length>0"
                	ng-href="{{ vm.person.fennica[0] }}"
                	class="btn btn-default btn-sm">
                	Fennica
               </a> 
              
              <a ng-if="vm.person.fennica.length>1"
                	ng-href="{{ vm.person.fennica[1] }}" class="btn btn-default btn-sm">
                	2
               </a> 
              
              <a ng-if="vm.person.genicom"
                	ng-href="{{ vm.person.genicom }}"
                 class="btn btn-default btn-sm">
                 Geni.com: Kotisivu</a>
              <a ng-if="vm.person.genitree"
                	ng-href="{{ vm.person.genitree }}"
                 class="btn btn-default btn-sm">
                 Geni.com: Sukupuu</a>
              
              <a ng-if="vm.person.kirjasampo"
                 ng-href="{{ vm.person.kirjasampo }}" 
                 class="btn btn-default btn-sm">
                 Kirjasampo</a>
                 
              <a ng-if="vm.person.website"
                 ng-href="{{ vm.person.website }}"
                 class="btn btn-default btn-sm">
                 Kotisivu</a>
                 
              <a ng-if="vm.person.kulttuurisampo"
                 ng-href="{{ vm.person.kulttuurisampo }}"
                 class="btn btn-default btn-sm">
                 Kulttuurisampo</a>
                 
              <a ng-if="vm.person.norssi"
                  ng-href="http://www.norssit.fi/semweb/#!/tiedot/http:~2F~2Fldf.fi~2Fnorssit~2F{{ vm.person.norssi }}"
                  class="btn btn-default btn-sm">
                  Norssit</a>
                  
              <a ng-if="vm.person.warsampo"
                 ng-href="http://www.sotasampo.fi/fi/persons/?uri={{ vm.person.warsampo }}"
                 class="btn btn-default btn-sm">
                 Sotasampo</a>
              
              <a ng-if="vm.person.ulan.length>0"
                	ng-href="{{ vm.person.ulan[0] }}"
                	class="btn btn-default btn-sm">
                	ULAN</a>
              
              <a ng-if="vm.person.ulan.length>1"
                	ng-href="{{ vm.person.ulan[1] }}"
                	class="btn btn-default btn-sm">
                	2</a>
              
              <a ng-if="vm.person.viaf"
                 ng-href="{{ vm.person.viaf }}"
                 class="btn btn-default btn-sm">
                 VIAF</a>
              
              <a ng-if="vm.person.wikipedia.length>0" 
			  	ng-href="{{ vm.person.wikipedia[0] }}" 
			  	class="btn btn-default btn-sm">Wikipedia
			  </a>
			  
			  <a ng-if="vm.person.wikipedia.length>1" 
			  	ng-href="{{ vm.person.wikipedia[1] }}" 
			  	class="btn btn-default btn-sm">2
			  </a>
			  
			  <a ng-if="vm.person.wikidata" 
			  	ng-href="{{ vm.person.wikidata }}" 
			  	class="btn btn-default btn-sm">Wikidata
			  </a>
              <a ng-if="vm.person.yo1853"
                 ng-href="https://ylioppilasmatrikkeli.helsinki.fi/1853-1899/henkilo.php?id={{ vm.person.yo1853 }}"
                 class="btn btn-default btn-sm">
                 Ylioppilasmatrikkeli 1853–1899
              </a>
              <!-- 
			  <a ng-href="http://ldf.fi/nbf/{{ vm.person.id }}"
			  	class="btn btn-default btn-sm">
			  	Data ldf.fi-palvelussa
	          </a>
               -->
               
			</div>
            
          </div>
        </div>
      </div>
      
      <div class="col-sm-6 col-md-12 text-left" ng-if="(vm.person) && !vm.person.bios && !vm.person.externalLinks">
           	<br />
           	<h4>Henkilöllä ei ole biografiakuvauksia</h4>
           	<hr />
      </div>
            
      <div class="col-sm-6 col-md-12 text-left thumbnail"
           	ng-if="(vm.person.bios && vm.person.bios.length) || vm.person.externalLinks"
           	>
            <ul class="nav nav-tabs">
		       	<li ng-repeat="bio in vm.person.bios | castArray" ng-class="{ active: vm.isSet($index) }">
		       		<a href ng-click="vm.setTab($index)">
		       			<span class="glyphicon glyphicon-book" aria-hidden="true"></span>
		       			<span style="font-size: 120%;"> {{ bio.database }}</span>
		       		</a>
		       	</li>
		       	
		       	<li ng-repeat="link in vm.person.externalLinks | castArray" ng-class="{ active: vm.isSet(link.tab) }">
		       		<a href ng-click="vm.setTab(link.tab)">{{ link.label }}</a>
		       	</li>
	     	</ul>
	     	
	     	<nlp-biography ng-repeat="bio in vm.person.bios | castArray" ng-show="vm.isSet($index)" url="{{bio.bio}}" active="{{vm.isSet($index)}}">
         	</nlp-biography>
         	
	        <nbf-iframe ng-repeat="link in vm.person.externalLinks | castArray" ng-show="vm.isSet(link.tab)" url="{{link.url}}" active="{{vm.isSet(link.tab)}}">
         	</nbf-iframe>
		</div>
    </div>
     
    
    <br />
    <br />
    <div class="col-md-4 text-left well nbfwell" ng-if="vm.person.relative && vm.person.relative.length">
      <div class="relativeblock">
	      <h3>Lähisukulaiset</h3>
	      <span class="glyphicon glyphicon-info-sign"
				uib-tooltip="Henkilön sukulaisissa näytetään vanhemmat, puolisot ja lapset, ei kaukaisempia sukulaisia. 
				Henkilöt, joilla on biografia, näytetään sinisenä linkkinä.">
		  </span>
	  </div>
      <div class="col-sm-6" ng-repeat="relative in vm.person.relative">
      	{{ relative.type }} <personlink url="{{ relative.id2 }}">{{ relative.name }}</personlink>
      </div> 
    </div>
    
    <div class="col-md-4 text-left well nbfwell" ng-if="vm.person.secondrelative && vm.person.secondrelative.length">
      <div class="relativeblock">
	      <h3>Muut sukulaiset</h3>
	      <span class="glyphicon glyphicon-info-sign"
				uib-tooltip="Tässä näytetään aineistosta muita sukulaisia, kuten isovanhemmat, vanhempien sisarukset, sisarukset ja näiden lapset, lastenlapset sekä aviosukulaiset.
				Sukulaisista näytetään vain ne, joilla on biografiakuvaus. 
				Aineisto on päätelty laskennallisesti materiaalista, joten siinä saattaa esiintyä virheitä.">
		  </span>
	  </div>
      <div class="col-sm-6" ng-repeat="relative in vm.person.secondrelative">
      	{{ relative.type }} <personlink url="{{ relative.id2 }}">{{ relative.name }}</personlink>
      </div> 
    </div>
    
    <div class="col-md-4 text-left well nbfwell" ng-if="vm.similar">
    	<div class="relativeblock">
    		<h3>Samankaltaisia biografioita</h3>
	    	<span class="glyphicon glyphicon-info-sign" 
	    		uib-tooltip="Henkilöt on määritelty samankaltaisiksi vertaamalla laskennallisesti heidän biografiakuvauksien sanastoa.">
	    	</span>
      	</div>
      <nbf-personlist num="18" url="{{ vm.similar.people }}" ></nbf-personlist>
    </div>
    
    
    <div class="col-md-4 text-left well nbfwell" ng-if="vm.referenced">
    	<div class="relativeblock">
    		<h3>T&auml;nne viittaavat sivut ({{ ::vm.referenced.count }})</h3>
	    	<span class="glyphicon glyphicon-info-sign" 
	    		uib-tooltip="Henkilöitä joiden biografioista viitataan tälle sivulle.">
	    	</span>
      	</div>
      <nbf-personlist url="{{ vm.referenced.people }}"></nbf-personlist>
    </div>
    
    <div class="col-md-4 text-left well nbfwell" ng-if="vm.references">
    	<div class="relativeblock">
    		<h3>Täältä viitatut sivut ({{ ::vm.references.count }})</h3>
	    	<span class="glyphicon glyphicon-info-sign" 
	    		uib-tooltip="Henkilöt joiden biografioihin viitataan tältä sivulta.">
	    	</span>
      	</div>
      <nbf-personlist url="{{ vm.references.people }}"></nbf-personlist>
    </div>
    
    <div class="col-md-4 text-left well nbfwell" ng-if="vm.authors">
    	<div class="relativeblock">
    		<h3>{{ vm.authors.count==1 ? 'Kirjoittaja' : 'Kirjoittajat' }}</h3>
	    	<span class="glyphicon glyphicon-info-sign" 
	    		uib-tooltip="Tutustu biografiakuvauksen laatijoihin.">
	    	</span>
      	</div>
      <nbf-personlist url="{{ vm.authors.people }}"></nbf-personlist>
    </div>
    
    <div class="col-md-4 text-left well nbfwell" ng-if="vm.sameAuthor">
    	<div class="relativeblock">
    		<h3>Samoilta kirjoittajilta ({{ ::vm.sameAuthor.count }})</h3>
    		<span class="glyphicon glyphicon-info-sign" 
	    		uib-tooltip="Lue muita biografia-artikkeleja samoilta kirjoittajilta.">
	    	</span>
      	</div>
      <nbf-personlist url="{{ vm.sameAuthor.people }}"></nbf-personlist>
    </div>
    
    <div class="col-md-4 text-left well nbfwell" ng-if="vm.authoredBios">
	    <div class="relativeblock">
	    		<h3>Kirjoitettuja artikkeleja ({{ ::vm.authoredBios.count }})</h3>
		    	<span class="glyphicon glyphicon-info-sign" 
		    		uib-tooltip="Lue tämän henkilön laatimia biografia-artikkeleja.">
		    	</span>
	    </div>
	    <nbf-personlist url="{{ vm.authoredBios.people }}"></nbf-personlist>
    </div>
    	
    	
    
  </div>
</div>
