<div class="col-sm-12 col-md-8 text-center">
  <div class="col-sm-12" ng-show="!vm.person && !vm.error">
      <img class="loading-img" src="images/loading-lg.gif"></img>
    </div>
	 <h1>{{ vm.person.givenName }} {{ vm.person.familyName }}</h1>
      <div class="thumbnail" ng-show="vm.person">
        <div class="person-profile-img">
          <div class="row">
            <div class="col-sm-12 text-center">
              <img ng-repeat="img in vm.person.images" class="person-img img img-responsive" ng-src="{{ img }}" 
              		uib-tooltip="Kuvalähde: {{ vm.person.imagesources[$index] }}" tooltip-enable="{{ !!vm.person.imagesources[$index] }}" tooltip-placement="bottom"
              		/>
            </div>
          </div>
        </div>
        <div class="caption" ng-show="vm.person">
          <div class="visible-caption">
            <div class="row">
              <div class="col-xs-12">
                <p ng-if="(vm.person.birth || vm.person.birthDate || vm.person.death || vm.person.deathDate)">
	                <span ng-if="(vm.person.birth || vm.person.birthDate)">&#8727;&nbsp;
	                	<span ng-repeat="p in vm.person.birth" 
	                		><span ng-if="!$first">, </span
	                		><span class="placelink" url="{{ ::p.id }}">{{ ::p.label }}</span
	                	></span>
	                	<span ng-if="vm.person.birthDate">{{ vm.person.birthDate }}</span>
	                </span>
	                <span ng-if="(vm.person.death || vm.person.deathDate)">&dagger;&nbsp;
	                	<span ng-repeat="p in vm.person.death" 
	                		><span ng-if="!$first">, </span
	                		><span class="placelink" url="{{ ::p.id }}">{{ ::p.label }}</span
	                	></span>
	                	<span ng-if="vm.person.deathDate">{{ vm.person.deathDate }}</span>
	                </span>
                </p>
              </div>
              <div ng-if="vm.person.occupation" class="col-xs-12">
                <p>{{ vm.person.occupation | castArray | join:', ' }}</p>
              </div>
              <div ng-if="vm.person.source" class="col-xs-12">
                <p>Lähteet: {{ vm.person.source | castArray | join:', ' }}</p>
              </div>
              
              <div class="col-xs-12 icon-menu">
                <a title="Data ldf.fi-palvelussa" class="" ng-href="{{ vm.person.id }}"><span class="glyphicon glyphicon-hdd" aria-hidden="true"></span></a>
              </div>
            </div>
            <div class="row">
              <div ng-if="vm.person.wikipedia" class="col-xs-6 col-xs-offset-3">
                <a ng-href="{{ vm.person.wikipedia }}">Wikipedia</a>
              </div>
              <div ng-if="vm.person.wikidata" class="col-xs-6 col-xs-offset-3">
                <a ng-href="{{ vm.person.wikidata }}">Wikidata</a>
              </div>
              <div ng-if="vm.person.fennica.length>1" class="col-xs-6 col-xs-offset-3">
                Fennica <a ng-repeat="f in vm.person.fennica" ng-href="{{ f }}">[{{$index+1}}] </a> 
              </div>
              <div ng-if="vm.person.fennica.length<2" class="col-xs-6 col-xs-offset-3">
                <a ng-href="{{ vm.person.fennica[0] }}">Fennica</a>
              </div>
              <div ng-if="vm.person.warsampo" class="col-xs-6 col-xs-offset-3">
                <a ng-href="http://www.sotasampo.fi/fi/persons/?uri={{ vm.person.warsampo }}">Sotasampo</a>
              </div>
              <div ng-if="vm.person.kirjasampo" class="col-xs-6 col-xs-offset-3">
                <a ng-href="{{ vm.person.kirjasampo }}">Kirjasampo</a>
              </div>
              <div ng-if="vm.person.kulttuurisampo" class="col-xs-6 col-xs-offset-3">
                <a ng-href="{{ vm.person.kulttuurisampo }}">Kulttuurisampo</a>
              </div>
              <div ng-if="vm.person.blf" class="col-xs-6 col-xs-offset-3">
                <a ng-href="{{ vm.person.blf }}">Biografiskt lexikon för Finland</a>
              </div>
              <div ng-if="vm.person.ulan" class="col-xs-6 col-xs-offset-3">
                <a ng-href="{{ vm.person.ulan }}">ULAN</a>
              </div>
              <div ng-if="vm.person.viaf" class="col-xs-6 col-xs-offset-3">
                <a ng-href="{{ vm.person.viaf }}">VIAF</a>
              </div>
              <div ng-if="vm.person.eduskunta" class="col-xs-6 col-xs-offset-3">
                <a ng-href="{{ vm.person.eduskunta }}">Eduskunta</a>
              </div>
              <div ng-if="vm.person.norssi" class="col-xs-6 col-xs-offset-3">
                  <a ng-href="http://www.norssit.fi/semweb/#!/tiedot/http:~2F~2Fldf.fi~2Fnorssit~2F{{ vm.person.norssi }}">Norssi</a>
              </div>
              <div ng-if="vm.person.website" class="col-xs-6 col-xs-offset-3">
                <a ng-href="{{ vm.person.website }}">Kotisivu</a>
              </div>
              <div ng-if="vm.person.genicom || vm.person.genitree" class="col-xs-6 col-xs-offset-3">
                <span>Geni.com: </span><a ng-href="{{ vm.person.genicom }}">Kotisivu</a> <a ng-href="{{ vm.person.genitree }}">Sukupuu</a>
              </div>
              <div ng-if="vm.person.yo1853" class="col-xs-6 col-xs-offset-3">
                <a ng-href="https://ylioppilasmatrikkeli.helsinki.fi/1853-1899/henkilo.php?id={{ vm.person.yo1853 }}">Ylioppilasmatrikkeli 1853–1899</a>
              </div>
            </div>
            
            
			<!-- 
            <div class="col-sm-6 col-md-12" ng-if="false && vm.person.bios && vm.person.bios.length" ng-repeat="bio in vm.person.bios | castArray">
            	<div ng-if="bio.database" class="entry-text text-left icon-menu">
	              <hr />
	              
	              	<h4>{{ bio.database }} <a ng-if="bio.link" title="Artikkeli Biografiakeskuksen sivulla" ng-href="{{ bio.link }}">
	              	<span class="glyphicon glyphicon-book" aria-hidden="true"></span>
	              	</a></h4>
	              
	            </div>
            	<div ng-if="bio.lead_paragraph" class="entry-text text-left">
	              <hr />
	              <p ng-bind-html="bio.lead_paragraph"></p>
	            </div>
	            <div ng-if="bio.description" class="entry-text text-left">
	              <hr />
	              <p ng-bind-html="bio.description"></p>
	            </div>
	            
	            <div ng-if="bio.family_paragraph" class="entry-text text-left">
	              <hr />
	              <p>{{ bio.family_paragraph }}</p>
	            </div>
	            
	             <div ng-if="bio.parent_paragraph" class="entry-text text-left">
	              <hr />
	              <h4>Vanhemmat</h4>
	              <p>{{ bio.parent_paragraph }}</p>
	            </div>
	            <div ng-if="bio.spouse_paragraph" class="entry-text text-left">
	              <hr />
	              <h4>Puoliso(t) vanhempineen</h4>
	              <p>{{ bio.spouse_paragraph }}</p>
	            </div>
	            <div ng-if="bio.child_paragraph" class="entry-text text-left">
	              <hr />
	              <h4>Lapset</h4>
	              <p>{{ bio.child_paragraph }}</p>
	            </div>
	            
	            <div ng-if="bio.medal_paragraph" class="entry-text text-left">
	              <hr />
	              <h4>Kunniamerkit</h4>
	              <p>{{ bio.medal_paragraph }}</p>
	            </div>
	            
	            <div ng-if="bio.source_paragraph" class="entry-text text-left">
	              <hr />
	              <p ng-bind-html="bio.source_paragraph"></p>
	            </div>
	            
	            <div class="entry-text text-left">
	            	<hr />
	            	<span ng-if="bio.author_text">Kirjoittaja(t): {{ bio.author_text }}</span>
	            	<span ng-if="bio.created">Julkaistu {{ bio.created | date:'dd.MM.yyyy' }}</span>
	            	<span ng-if="bio.modified">(päivitetty {{ bio.modified | date:'dd.MM.yyyy' }})</span>
	            </div>
	            <hr />
            </div>
            -->
            
          </div>
        </div>
      </div>
      
      <div class="col-sm-6 col-md-12 text-left" ng-if="(vm.person) && !vm.person.bios">
           	<br />
           	<h4>Henkilöllä ei ole biografiakuvauksia</h4>
           	<hr />
      </div>
            
      <div class="col-sm-6 col-md-12 text-left thumbnail"
           	ng-if="vm.person.bios && vm.person.bios.length"
           	>
            <ul class="nav nav-tabs">
		       	<li ng-repeat="bio in vm.person.bios | castArray" ng-class="{ active: vm.isSet($index) }">
		       		<a href ng-click="vm.setTab($index)">
		       			<span class="glyphicon glyphicon-book" aria-hidden="true"></span>
		       			<span style="font-size: 120%;"> {{ bio.database }}</span>
		       		</a>
		       	</li>
		       	
		       	<li ng-repeat="link in vm.person.externalLinks | castArray" ng-class="{ active: vm.isSet(link.tab) }">
		       		<a href ng-click="vm.setTab(link.tab)">{{ link.label }}</a>
		       	</li>
	     	</ul>
	     	
	     	<nbf-biography ng-repeat="bio in vm.person.bios | castArray" ng-show="vm.isSet($index)" url="{{bio.bio}}" active="{{vm.isSet($index)}}">
         	</nbf-biography>
         	
	        <nbf-iframe ng-repeat="link in vm.person.externalLinks | castArray" ng-show="vm.isSet(link.tab)" url="{{link.url}}" active="{{vm.isSet(link.tab)}}">
         	</nbf-iframe>
		</div>
    </div>
     
    
    <br />
    <br />
    <div class="col-md-4 text-left well nbfwell" ng-if="vm.person.relative && vm.person.relative.length">
      <div class="relativeblock">
	      <h3>Lähisukulaiset</h3>
	      <span class="glyphicon glyphicon-info-sign"
				uib-tooltip="Henkilön sukulaisissa näytetään vanhemmat, puolisot ja lapset, ei kaukaisempia sukulaisia.">
		  </span>
	  </div>
      <div class="col-sm-6" ng-repeat="relative in vm.person.relative">
      	{{ relative.type }} <personlink url="{{ relative.id2 }}">{{ relative.name }}</personlink>
      </div> 
    </div>
    
    <div class="col-md-4 text-left well nbfwell" ng-if="vm.similar">
    	<div class="relativeblock">
    		<h3>Samankaltaisia henkilöitä</h3>
	    	<span class="glyphicon glyphicon-info-sign" 
	    		uib-tooltip="Henkilöt on määritelty samankaltaisiksi vertaamalla laskennallisesti heidän biografiakuvauksien sanastoa.">
	    	</span>
      	</div>
      <nbf-personlist num="18" url="{{ vm.similar.people }}" ></nbf-personlist>
    </div>
    
    
    <div class="col-md-4 text-left well nbfwell" ng-if="vm.referenced">
    	<div class="relativeblock">
    		<h3>T&auml;nne viittaavat sivut ({{ ::vm.referenced.count }})</h3>
	    	<span class="glyphicon glyphicon-info-sign" 
	    		uib-tooltip="Henkilöitä joiden biografioista viitataan tälle sivulle.">
	    	</span>
      	</div>
      <nbf-personlist url="{{ vm.referenced.people }}"></nbf-personlist>
    </div>
    
    <div class="col-md-4 text-left well nbfwell" ng-if="vm.authors">
    	<div class="relativeblock">
    		<h3>{{ vm.authors.count==1 ? 'Kirjoittaja' : 'Kirjoittajat' }}</h3>
	    	<span class="glyphicon glyphicon-info-sign" 
	    		uib-tooltip="Tutustu biografiakuvauksen laatijoihin.">
	    	</span>
      	</div>
      <nbf-personlist url="{{ vm.authors.people }}"></nbf-personlist>
    </div>
    
    <div class="col-md-4 text-left well nbfwell" ng-if="vm.sameAuthor">
    	<div class="relativeblock">
    		<h3>Samoilta kirjoittajilta ({{ ::vm.sameAuthor.count }})</h3>
    		<span class="glyphicon glyphicon-info-sign" 
	    		uib-tooltip="Lue muita biografia-artikkeleja samoilta kirjoittajilta.">
	    	</span>
      	</div>
      <nbf-personlist url="{{ vm.sameAuthor.people }}"></nbf-personlist>
    </div>
    
    <div class="col-md-4 text-left well nbfwell" ng-if="vm.authoredBios">
	    <div class="relativeblock">
	    		<h3>Kirjoitettuja artikkeleja ({{ ::vm.authoredBios.count }})</h3>
		    	<span class="glyphicon glyphicon-info-sign" 
		    		uib-tooltip="Lue tämän henkilön laatimia biografia-artikkeleja.">
		    	</span>
	    </div>
	    <nbf-personlist url="{{ vm.authoredBios.people }}"></nbf-personlist>
    </div>
    	
    	
    
  </div>
</div>
