<div class="container-fluid">
    <div class="row">
	<div uib-alert ng-if="vm.error">
	    {{ vm.error }}
	</div>
	<div class="container-fluid text-center" >
	    <h1 class="notranslate" >{{vm.label}}</h1>
	    <div class="container-fluid thumbnail">
	    	<div>
		    <div class="col-md-4 pull-md-4 col-lg-3 text-left" style="width:15%" >
		    	<h1>Tutki henki&shy;lön elämäkerran sanastoa.</h1>
		    	<p>
		    	    Sivulla esitetään listoja sanoista, joita ilmenee henkilön elämäkerrassa.
			    Sanat on luokiteltu sanaluokkiin käyttäen automaattista tekstin luokittelijaa.
		    	</p>
		    </div>
	    	</div>
		<div class="col-md-8 col-lg-9 text-center thumbnail" style="width:85%">
		<!--div class="row" style="margin-top: 20px;"/-->
		    <div class="row mt-3"><div ng-include="'views/nlp/results.partial.html'"></div>
		</div>
	    </div>
	</div>
    </div>
</div>

