<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12" ng-show="!vm.person && !vm.error">
      <img class="loading-img" src="images/loading-lg.gif"></img>
    </div>
    
    <div class="container-fluid text-center" >
      	    
		<div id="labelcontainer" class="col-md-4 pull-md-4 col-lg-3 facetsidebar" >
			<br />
			<h1>Tutki henki&shy;löön liit&shy;tyviä tapah&shy;tumia</h1>
			    	
			<span>
			    Sivulla näytetään lista henkilöön liittyvistä tapahtumista, niihin liit&shy;ty&shy;vät pai&shy;kat kartalla sekä tapahtumasarja aikajanalla.
			    Tapahtumat on poi&shy;mittu bio&shy;grafia&shy;kuvausten teksti&shy;kentistä.
			</span>
			    
			<br /><br />
			<!--  <div uib-alert ng-if="vm.error" style="color:red;">{{ vm.error }}</div>  -->
			<div ng-if="vm.events.length">Henkilöllä on {{ vm.events.length }} tapahtumaa:</div>
			<br />
	    		
			<p ng-show="vm.person" ng-repeat="event in ::vm.events"
				class="{{event.class}}"
				ng-mouseenter="vm.focusEvent(event)"
				ng-mouseleave="vm.unfocusEvent(event)">
				{{$index+1}}: 
				<span ng-if="::event.relative" class="personlink" url="{{ ::event.relative }}">{{ ::event.label }}</span>
                <span ng-if="::!event.relative">{{ ::event.label }}</span>
	           	<span ng-if="::event.markers.length" 
	           		class="placelink" url="{{ ::event.markers[0].uri }}">
	           		<span style="color:darkblue;" class="glyphicon glyphicon-globe"></span>
	           	</span>
			</p>
			<br /><br /><br /><br />
		</div>
		
			
		<div ng-show="vm.person" class="col-md-8 col-lg-9 text-center personmapcontent">
				<h1 class="notranslate">{{ vm.person.givenName }} {{ vm.person.familyName }}</h1>
				
				<ui-gmap-google-map id="personmap" class="personmap" center="vm.map.center" zoom="vm.map.zoom" >
			        	<ui-gmap-marker ng-repeat="marker in vm.markers" 
			        		coords="marker"
			        		idkey="marker.id"
			        		options="marker.options"
			        	></ui-gmap-marker>
			    </ui-gmap-google-map>
			        
			    <svg id="timelinecontainer" viewBox="-15,-7,120,27" preserveAspectRatio="none" version="1.0" x="0" y="0" width="900" height="180" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
						  	<line ng-repeat="line in ::vm.mainline.lines" ng-attr-x1="{{ line.x1 }}" ng-attr-x2="{{ line.x2 }}" ng-attr-y1="{{ line.y1 }}" ng-attr-y2="{{ line.y2 }}">
						  	</line>
						  	
						  	<text ng-repeat="text in ::vm.mainline.texts" ng-attr-x="{{ text.x }}" ng-attr-y="{{ text.y }}">
						  	{{ text.content }}
						  	</text>
						  	<path ng-repeat="event in vm.events" 
						  		ng-mouseenter="vm.focusEvent(event)" 
						  		ng-mouseleave="vm.unfocusEvent(event)" 
						  		class="{{ ::event.class }}" 
						  		ng-attr-d="{{ ::event.path }}">
						  	</path>
				</svg>
				<p>
					<span>{{ vm.currentEvent }}</span>
				</p>
		    </div>
    </div>
  </div>
</div>
