<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
    <ul class="nav nav-tabs">
      <li ui-sref="person.detail" ui-sref-active="active">
        <a href=""><span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span> Henkilön tiedot</a>
      </li>
      <li ui-sref="person.map" ui-sref-active="active">
        <a href=""><span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span> Kartta ja aikajana</a>
      </li>
      <li ui-sref="person.network" ui-sref-active="active">
        <a href=""><span class="glyphicon glyphicon-link" aria-hidden="true"></span> Verkosto</a>
      </li>
      <!-- <li ui-sref="person.relatives" ui-sref-active="active">
        <a href=""><span class="glyphicon glyphicon-link" aria-hidden="true"></span> Sukulaiset</a>
      </li> --> 
      <li ui-sref="person.sentence" ui-sref-active="active">
        <a href="" style="display:flex;"><i class="material-icons md-18"  style="font-size: 18px;">forum</i>   Viittaukset</a>
      </li>
      <li ui-sref="person.linguistics" ui-sref-active="active">
        <a href=""><span class="glyphicon glyphicon-book" aria-hidden="true"></span> Kielianalyysi</a>
      </li>
    </ul>
  </div>
  </div>
  <div class="row">
    <div ui-view></div>
  </div>
</div>
