<h3>Lue koko artikkeli Biografiakeskuksen <a ng-href="{{skspage}}">sivulla</a>.</h3> 
<ol> 
		<li><p>Voit lukea koko artikkelin <a href="https://kansallisbiografia.fi/kansallisbiografia/kirjaudu">kirjautumalla sisään</a>
		 Kansallisbiografian ja Suomen talouselämän vaikuttajat -verkkojulkaisun
		 yhteisellä käyttäjätunnuksella. Jos sinulla ei vielä ole tunnusta, voit
		 hankkia tunnuksen ja ostaa lukuoikeutta määräajaksi täyttämällä <a href="https://kansallisbiografia.fi/kansallisbiografia/kayttajatunnus">hakemuksen</a>.
		 </p></li> 
		 <li><p>Kansallisbiografia
		 ja Suomen talouselämän vaikuttajat -verkkojulkaisut ovat myös vapaasti 
		luettavissa lukuisissa kirjastoissa. Katso listaus palvelun tarjoavista 
		tahoista <a href="https://kansallisbiografia.fi/kansallisbiografia/hinnasto-ja-ohjeet">täältä</a>.
		</p></li> 
		<li>
			- KB: https://kansallisbiografia.fi/kansallisbiografia/tekijanoikeudet
			- TeV: https://kansallisbiografia.fi/talousvaikuttajat/tekijanoikeudet
			- K&A https://kansallisbiografia.fi/kenraalit/tekijanoikeudet
			- THP: https://kansallisbiografia.fi/paimenmuisto/tekijanoikeudet
			- SP1801-1920: https://kansallisbiografia.fi/papisto/tekijanoikeudet
		</li>
</ol>