<h3>Tekijänoikeudet ja artikkeleihin viittaaminen</h3>
<ol>
	<li><a href="https://kansallisbiografia.fi/kansallisbiografia/tekijanoikeudet">Kansallisbiografia</a></li>
	<li><a href="https://kansallisbiografia.fi/talousvaikuttajat/tekijanoikeudet">Talousvaikuttajat</a></li>
	<li><a href="https://kansallisbiografia.fi/kenraalit/tekijanoikeudet">Kenraalit ja amiraalit</a></li>
	<li><a href="https://kansallisbiografia.fi/paimenmuisto/tekijanoikeudet">Turun hiippakunnan paimenmuisto</a></li>
	<li><a href="https://kansallisbiografia.fi/papisto/tekijanoikeudet">Suomen papisto 1801–1920</a></li>
</ol>