<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
	    <ul class="nav nav-tabs">
	      <li ui-sref="search.cards" ui-sref-active="active">
	        <a href=""><span class="glyphicon glyphicon-th" aria-hidden="true"></span> Ruudukko</a>
	      </li>
	      <li ui-sref="search.table" ui-sref-active="active">
	        <a href=""><span class="glyphicon glyphicon-align-justify" aria-hidden="true"></span> Lista</a>
	      </li>
	    </ul>
	  </div>
  </div>
  <div class="row">
  	<br />
    <div ui-view></div>
  </div>
</div>
